PRIMARY_API_KEY=your_primary_api_key_here
PRIMARY_BASE_URL=https://api.groq.com/openai/v1
PRIMARY_MODEL_NAME=groq/compound

FALLBACK_API_KEY=your_fallback_api_key_here
FALLBACK_BASE_URL=https://api.sambanova.ai/v1
FALLBACK_MODEL_NAME=Meta-Llama-3.3-70B-Instruct

PORT=8080
